/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  color-scheme: light;
  --color-font-main: #622500;
  --color-font-link: #ee482f;

  --color-bg-main: #fffdf1;
  --color-bg-light: #f2f2f2;

  --color-border-light: #999;

  --image-height: auto;
}

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 2em;

  &.theme {
    &--dark {
      color-scheme: dark;
      --color-font-main: #ddcdb1;
      --color-font-link: #e36856;

      --color-bg-main: #222224;
      --color-bg-light: #222224;
    }
  }
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-main);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--color-font-main);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media print {
    --color-bg-main: #fff;
    --color-font-main: #222;
    --color-font-link: #3273dc;
  }
}

a {
  color: var(--color-font-link);
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: var(--color-bg-light);
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--color-border-light);
  color: var(--color-font-main);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

.heading-link {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  @media (min-width: 1100px) {
    width: 24px;
    height: 24px;
  }
}
