@import 'fonts';

:root {
  color-scheme: light;
  --color-font-main: #622500;
  --color-font-link: #de1d00;

  --color-bg-main: #fffdf1;
  --color-bg-light: #f2f2f2;
  --color-bg-dark: #f8ecd4;
  --color-bg-modal: rgb(84 82 74 / 69%);

  --color-border-light: #999;
  --logo-filter: sepia(3) brightness(0.88);

  --image-height: auto;

  --shadow-color: 50deg 5% 30%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 2em;

  &.theme {
    &--dark {
      color-scheme: dark;
      --color-font-main: #ddcdb1;
      --color-font-link: #e36856;

      --color-bg-main: #222224;
      --color-bg-light: #222224;
      --color-bg-dark: #3a352f;
      --color-bg-modal: rgb(19 19 21 / 90%);

      --logo-filter: sepia(3) brightness(0.74);
      --shadow-color: 240deg 11% 1%;
    }
  }
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-main);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--color-font-main);
  font-size: 1.25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media print {
    --color-bg-main: #fff;
    --color-font-main: #222;
    --color-font-link: #3273dc;
  }
}

a {
  color: var(--color-font-link);
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: var(--color-bg-light);
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--color-border-light);
  color: var(--color-font-main);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

.heading-link {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  color: inherit;

  @media (min-width: 1100px) {
    width: 24px;
    height: 24px;
  }
}
