---
import { Sprite } from 'astro-icon';
---

<a href="/">
  <Sprite name="arrow-left" />
  <span>Back</span>
</a>

<style lang="scss">
  a {
    font-size: 1.2em;
    display: inline-flex;
    color: inherit;
    text-decoration: none;
    align-items: center;

    @media print {
      display: none;
    }

    svg {
      width: 28px;
      height: 28px;
      margin-right: 6px;
      color: var(--color-font-link);
    }
  }
</style>
