---
const today = new Date();
---

<footer>
  <ul>
    <li>
      <a href="/">Blog</a>
    </li>
    <li>
      <a href="https://siddheshmangela.com/">Photos</a>
    </li>
    <li>
      <a href="https://siddheshmangela.com/about">About</a>
    </li>
  </ul>
  &copy; {today.getFullYear()} Siddhesh Mangela. All rights reserved.
</footer>

<style lang="scss">
  footer {
    padding: 16px;
    text-align: center;
    position: sticky;

    ul {
      list-style-type: none;
      padding: unset;
      max-width: 1050px;
      margin: 0 auto;
      justify-content: center;
      display: flex;
      margin-bottom: 20px;

      li {
        display: flex;
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }
      }

      a {
        color: inherit;
      }

      @media print {
        display: none;
      }
    }
  }
</style>
