---
import { Sprite } from 'astro-icon';
---

<a href={`${Astro.url.href}#`} title="Go to top of the page">
  <Sprite name="arrow-top" />
</a>

<style lang="scss">
  a {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: inherit;
    display: none;
    position: fixed;
    bottom: 32px;
    right: 32px;

    @media (min-width: 1100px) {
      display: inline-flex;
    }

    @media print {
      display: none;
    }

    svg {
      width: 28px;
      height: 28px;
      color: inherit;
    }
  }
</style>
