---
import { Sprite } from 'astro-icon';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import GoToTopButton from '../components/GoToTopButton.astro';
import LinksDecorater from '../islands/LinksDecorater/LinksDecorater';
import ThemeToggle from '../islands/ThemeToggle/ThemeToggle';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="scss">
      main {
        padding: 16px;
        margin: 0 auto;
        padding-top: 70px;
        font-size: 1.05rem;
        line-height: 32px;
        flex: 1;

        @media (min-width: 1100px) {
          padding-top: 40px;
        }

        @media (min-width: 1100px) {
          max-width: 790px;
          padding-left: 0;
          padding-right: 0;
        }

        .bottom-nav {
          display: flex;
          justify-content: space-between;
        }

        :global(.heading-link) {
          display: inline-flex;
          width: 20px;
          height: 20px;
          margin-left: 5px;
          align-items: center;
          justify-content: center;
          vertical-align: middle;

          @media (min-width: 1100px) {
            width: 24px;
            height: 24px;
          }
        }

        :global(h1) {
          display: block;
          font-size: 2.2em;
          margin-top: 0.67em;
          margin-bottom: 0.67em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 1.5em;
        }

        :global(h2) {
          display: block;
          font-size: 1.8em;
          margin-top: 0.83em;
          margin-bottom: 0.83em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 1.4em;
        }

        :global(h3) {
          display: block;
          font-size: 1.5em;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 1.4em;
        }

        :global(h4) {
          display: block;
          font-size: 1.4em;
          margin-top: 1.33em;
          margin-bottom: 1.33em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 1.4em;
        }

        :global(h5) {
          display: block;
          font-size: 1.2em;
          margin-top: 1.67em;
          margin-bottom: 1.67em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 1.4em;
        }

        :global(h6) {
          display: block;
          font-size: 1.1em;
          margin-top: 2.33em;
          margin-bottom: 2.33em;
          margin-left: 0;
          margin-right: 0;
          font-weight: bold;
          line-height: 32px;
          position: relative;
        }

        :global(#frontmattertitle) {
          margin-top: -2px;
          margin-bottom: 5px;

          @media (min-width: 1100px) {
            margin-top: 5px;
          }
        }
      }
    </style>
  </head>

  <body>
    <Sprite.Provider>
      <Header />
      <ThemeToggle client:only="solid-js" />
      <LinksDecorater client:idle />
      <main>
        <article>
          <slot />
        </article>
        <div class="bottom-nav">
          <GoToTopButton />
        </div>
      </main>
    </Sprite.Provider>
  </body>
</html>
